* { 
    margin: 0px; 
    padding: 0px;
}

body {
    font: 14px Helvetica, Sans-Serif; 
    overflow-y: scroll;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.header {
    margin-top: 5px;
    height: 100px;    
    position: relative; 
}

.headerImage {
    position: absolute; 
    top: 5px;
    left: 10px;     
}

.accauntAction {
    float: right;
    padding-top: 5px;
    padding-right: 40px;
}

.accauntAction a, .accauntAction a:hover, 
.accauntAction a:visited, .accauntAction a:active {
    color: inherit;
    text-decoration: none;  
}

.menuAction {
    position: absolute;  
    top: 75px;
    left: 40px;
    z-index: 1000;
}

.notLink {
    cursor: default;
}

.dropdown { 
    list-style: none;
}

.dropdown a { 
    text-decoration: none;  
}

.firstLevel, .secondLevel { 
    list-style: none;
    font-weight: bold; 
    float: left; 
    background: #CCCCCC;        
}

.firstLevel a { 
    display: block; 
    padding: 4px 8px; 
    border-right: 1px solid #333333;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    color: #222222;        
}

.firstLevel:first-child a { 
    border-left: 1px solid #333333;       
} 

.firstLevel.hover, .firstLevel:hover { 
    background: #F3D673; 
    color: black; 
    position: relative;         
}

.firstLevel.hover a { 
    color: black;         
}

.innerList { 
    width: 110px; 
    visibility: hidden;
    position: absolute; 
    top: 100%; 
    left: -1px; 
}
.secondLevel { 
    font-weight: normal; 
    background: #f6f6f6; 
    color: #000000; 
    border-bottom: 1px solid #cccccc; 
    border-left: 1px solid #cccccc; 
    border-right: 1px solid #cccccc; 
    float: none; 
}
									  
/* IE Inline Block */
.secondLevel a { 
    border: none; 
    width: 100%; 
    display: inline-block; 
} 

.footer {
    height: 100px;
}

.popupShadow {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 2000;
}

.popupWindow {
    position: absolute;
    top: 50%;  
    left: 50%;  
    margin-top: -60px;          /* height/2 + padding */
    margin-left: -90px;         /* width/2 + padding */

    height: 100px;
    width: 160px;    
    padding: 10px;
    
    background-color: white;
    /*border-radius: 2px;*/
    border: 1px solid #333333;
}

.popupImage {
    position: absolute;
    top: 20px;  
    left: 15px; 
}

.popupText {
    position: absolute;
    top: 15px;  
    left: 50px;  
    width: 110px;
}

.popupButton {
    position: absolute;
    top: 80px;  
    left: 35px; 
    
    width: 100px;    
    display: block;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;   
}

.content {
    min-height: 300px;    
    border-top: 1px solid black;    
    border-bottom: 1px solid black;  
}

.allGroupsDiv {
    position: relative;
    padding: 30px 30px 0px 30px;
}

.allSubjectsDiv {
    position: relative;
    padding: 30px 30px 30px 30px;
}

.subjectsDiv {
    padding-top: 10px;
}

.allQuestionsSubjectDiv {
    position: absolute;
    top: 90px;
}

.subjectsList {
    float: left;
    list-style-image: url(../images/radio.png);
    width: 185px;
}

.subjectsList li {
    padding: 5px;
}

.subjectsList a, .subjectsList a:hover, 
.subjectsList a:visited, .subjectsList a:active {
    color: inherit;
    text-decoration: none;  
}

.loginDiv {
    position: relative;
    padding: 30px;
}

.formText {
    text-align: right;
    color: #666666;
    padding-right: 5px;
}

.formRememberCheckbox {    
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 4px;
    float: left;
}

.formRememberCheckbox checkbox {    
    border: 1px solid #cccccc;
}

.formRememberText {
    padding-top: 2px;
    text-align: left;
    padding-left: 5px;
    color: #666666;
    font-size: 10pt;
}

.formInput {
    text-align: left;
    padding-left: 5px;
}

.formInput input {
    border: 1px solid #aaaaaa;
    padding: 2px;
}

#password {
    width: 200px;
}

#passwordConfirmation {
    width: 200px;
}

#username {
    width: 200px;
}

#name {
    width: 200px;
}

.enterToSiteFormDiv {
    position: absolute;
    top: 90px;
}

.enterToSiteButtonDiv {
    position: absolute;
    top: 163px;
    left: 155px;
    display: block;
    width: 100px;    
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
}

.passwordResetDiv {
    position: absolute;
    top: 123px;
    left: 318px;    
    color: #333333;
    font-size: 80%;
}

.passwordResetDiv a, .passwordResetDiv a:hover, 
.passwordResetDiv a:visited, .passwordResetDiv a:active {
    color: inherit;
    text-decoration: none;  
}

.registrationDiv {
    position: relative;
    padding: 30px;
}
    
.pageTitleDiv {
    padding-top: 10px;   
    padding-bottom: 10px;    
    font-size: 150%;
    color: #333333;
}

.registrationFormDiv {
    position: absolute;
    top: 90px;
}

.registrationButtonDiv {
    position: absolute;
    top: 198px;
    left: 234px;
    display: block;
    width: 100px;    
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
}

.errorPageDiv {
    position: relative;
    padding: 30px;
    line-height: 1.4;
}

.errorPageDiv a, .errorPageDiv a:hover, 
.errorPageDiv a:visited, .errorPageDiv a:active {
    color: inherit;
    text-decoration: none;  
}

.errorPageTextDiv {
    position: absolute;
    top: 105px;
}

.questionListDiv {
    position: relative;
    padding: 30px;
}

.questionListInnerDiv {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    overflow: auto;
}

.questionListInnerUserListDiv {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    overflow: auto;
}

.questionsList {
    float: left;
    list-style-image: url(../images/radio.png);
    width: 140px;
}

.questionsList li {
    padding: 5px;
}

.questionsList a, .questionsList a:hover, 
.questionsList a:visited, .questionsList a:active {
    color: inherit;
    text-decoration: none;  
}

.subjectTableRightColumn {
    width: 750px;
    padding: 3px;
}

.subjectTableLeftColumn {
    width: 120px;
    padding: 3px;
}

.questionTableRightColumn {
    width: 150px;
    padding: 3px;
}

.questionTableLastColumn {
    width: 450px;
    padding: 3px;
}

.subjectTableDiv td {
    padding-top: 5px;
}

.subjectTableDiv a, .subjectTableDiv a:hover, 
.subjectTableDiv a:visited, .subjectTableDiv a:active {
    color: inherit;
    text-decoration: none;  
}

.stateChangeButton {
    width: 100px;    
    display: block;
    float: left;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;
    vertical-align: middle;    
}

.renameButton {
    width: 100px;    
    display: block;
    float: left;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;
    vertical-align: middle;    
}

.subjectToGroupButton {
    width: 100px;    
    display: block;
    float: left;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;
    vertical-align: middle;    
}

.subjectToGroupSelectButton {
    width: 100px;    
    display: block;
    float: left;
    background-color: #F3D673; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;
    vertical-align: middle;    
}

.stateChangeButtonDiv {
    width: 100px;    
    display: block;
    float: left;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;
    vertical-align: middle;    
    margin-bottom: 10px;
}

.stateChangeButtonSelectDiv {
    width: 100px;    
    display: block;
    float: left;
    background-color: #F3D673; 
    cursor: default;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;
    vertical-align: middle;    
    margin-bottom: 10px;
}

.allUsersDiv {
    position: relative;
    padding: 30px;
}

.usersDiv {
    padding-top: 20px;
    padding-bottom: 90px;
}

.usersTableRightColumn {
    padding: 3px;
}

.usersTableLeftColumn {
    width: 120px;
    padding: 3px;
}

.usersTable a, .usersTable a:hover, 
.usersTable a:visited, .usersTable a:active {
    color: inherit;
    text-decoration: none;  
}

.rolesSelectDiv {
    float: left;
    padding-left: 10px;
}

.passwordResetButtonDiv {
    float: left;
    padding-left: 10px;
    width: 100px;    
    display: block;
    float: left;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;   
}

.userDisableButtonDiv {
    float: left;
    padding-left: 10px;
    width: 100px;    
    display: block;
    float: left;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;  
}

.userRoleButton {
    width: 100px;    
    display: block;
    float: left;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;  
}

.userRoleAdminButton {
    width: 100px;    
    display: block;
    float: left;
    background-color: #F3D673; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;   
}

.addSubjectDiv {
    position: relative;
    padding: 30px;
}

.addSubjectFormDiv {
    position: absolute;
    top: 90px;
}

.addSubjectButtonDiv {
    position: absolute;
    top: 91px;
    left: 300px;
    display: block;
    width: 100px;    
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
}

#subjectName {
    width: 200px;
}

.footDiv {
    position: relative;
    margin: 3px;
}

.footAboutDiv {
    position: absolute;
    left: 660px;
}

.footContactsDiv {
    position: absolute;
    left: 720px;
}

.passwordChangeDiv {
    position: relative;
    padding: 30px;
}

.passwordChangeFormDiv {
    position: absolute;
    top: 90px;
}

.passwordChangeButtonDiv {
    position: absolute;
    top: 180px;
    left: 265px;
    display: block;
    width: 100px;    
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
}

#oldPassword {
    width: 200px;
}

#newPassword {
    width: 200px;
}

#newPasswordConfirmation {
    width: 200px;
}

.passwordResetPageDiv {
    position: relative;
    padding: 30px;
}

.passwordResetFormPageDiv {
    position: absolute;
    top: 90px;
}

.passwordResetButtonPageDiv {
    position: absolute;
    top: 130px;
    left: 125px;
    display: block;
    width: 100px;    
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
}

.startDiv {
    position: relative;
    padding: 30px;
    line-height: 1.4;
}

.startDiv a, .startDiv a:hover, 
.startDiv a:visited, .startDiv a:active {
    color: inherit;
    text-decoration: none;  
}

.startTextDiv {
    position: absolute;
    top: 105px;
}

.profileDiv {
    position: relative;
    padding: 30px;
}

.profileFormDiv {
    position: absolute;
    top: 90px;
}

.profileFormResetDiv {
    position: absolute;
    top: 152px;
    left: 118px;  
    display: block;
    width: 120px;    
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
}

.profileFormResetDiv a, .profileFormResetDiv a:hover, 
.profileFormResetDiv a:visited, .profileFormResetDiv a:active {
    color: inherit;
    text-decoration: none;  
}

.questionDiv {
    position: relative;
    padding: 0px;
    padding-top: 30px;
}

.questionFormDiv {
    padding: 0px;
}

.questionInputDiv {    
    position: relative;
    height: 455px; 
    border-bottom: 1px solid black;
}

.questionResultDiv {
    position: relative;    
}

.questionInputTextDiv {
    position: relative;
    padding: 10px;
    padding-left: 30px;
}

.questionInputTextDiv textarea {    
    height: 250px; 
    width: 722px;
    border: 1px solid #666666;
    overflow-x: auto;
    overflow-y: scroll;
    font: 14px Helvetica, Sans-Serif;
    font-family: monospace;
}

.questionInputSubjectDiv {
    position: absolute;
    top: 285px;
    left: 30px;
    width: 250px;
    height: 100px;
    overflow: auto;
    border: 1px solid #666666;
    overflow-y: scroll;
    overflow-x: hidden;
}

.questionInputSubjectDisableDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
}

.subjectDiv {
    width: 250px;
    height: 20px;
    cursor: pointer;
}

.subjectDivSelect {
    width: 250px;
    height: 20px;
    background-color: #F3D673;
    cursor: pointer;
}

.questionInputStateDiv {
    position: absolute;
    top: 289px;
    left: 585px;
}

.questionInputNewSubjectTextDiv {
    position: absolute;
    top: 326px;
    left: 305px;
}

.questionInputNewSubjectDiv {
    position: absolute;
    top: 346px;
    left: 305px;
}

.questionInputNewSubjectDiv input {    
    padding: 2px;
    width: 250px;
    border: 1px solid #666666;
}

.questionInputSaveButtonDiv {
    position: absolute;
    top: 410px;
    left: 350px;
    width: 100px;    
    display: block;
    float: left;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;
    vertical-align: middle;    
}

.questionInputDiscardButtonDiv {
    position: absolute;
    top: 410px;
    left: 470px;
    width: 100px;    
    display: block;
    float: left;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;
    vertical-align: middle;    
}

.questionResultTextDiv {    
    padding-top: 10px;
    padding-left: 10px; 
    min-height: 180px;
}

.questionResultChangeButtonDiv {
    position: absolute;
    top: 0px;
    left: 570px;
    width: 100px;    
    display: block;
    float: left;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin-right: 20px;
    vertical-align: middle; 
}

.questionResultChangeButtonDivWrapper {    
    width: 100%;
    height: 25px;
}

.questionTable { 
}

.questionTableLeft {
    text-align: center;
    vertical-align: top;
    padding: 7px 0px 0px 3px;
}

.questionTableQuestionMark {
    text-align: center;
    vertical-align: top;
    padding: 7px 0px 0px 0px;
}

.questionTableCenter {  
    text-align: center; 
    vertical-align: top;
    padding: 5px 5px 5px 5px;      
}

.questionTableRight {
    padding: 5px 7px 10px 5px;     
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 710px;
    font: 14px Helvetica, Sans-Serif;
    font-family: monospace;
}

.questionTableQuestion {
    padding: 5px 7px 20px 5px;     
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 710px;
    font: 14px Helvetica, Sans-Serif;
    font-family: monospace;
}

.checkResultDiv {    
    position: relative;
    width: 100%;    
    height: 60px;
    vertical-align: middle;    
}

.checkButtonDiv {  
    position: absolute;
    top: 0px;
    left: 320px;
    width: 100px;    
    display: block;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
    margin: auto;
    margin-top: 18px;
    vertical-align: middle;
}

.answerResult {     
    position: absolute;
    top: 15px;
    left: 270px;
}

.answerResult td {
    padding-left: 5px;
}

.answerRightWrongSign {
    padding-top: 3px;
}

.questionCommentDiv {
    position: relative;      
    border-top: 1px solid black;
    padding-top: 10px;
}

.showCommentsDiv {  
    position: absolute;
    top: 35px;
    left: 0px;   
    width: 135px;
    cursor: pointer;
    padding: 3px;   
    text-align: left;
}

.showCommentsDiv a, .showCommentsDiv a:hover, 
.showCommentsDiv a:visited, .showCommentsDiv a:active {
    color: inherit;
    text-decoration: none;  
}

.nextPreviousQuestionButtonDiv {  
    position: absolute;
    top: 5px;
    left: 670px;   
    width: 135px;
    padding: 3px;   
    text-align: right;
}

.nextPreviousQuestionButtonDiv a, .nextPreviousQuestionButtonDiv a:hover, 
.nextPreviousQuestionButtonDiv a:visited, .nextPreviousQuestionButtonDiv a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.subjectTable { 
    border-spacing: 10px 0px;    
}

.subjectTable td { 
    width: 50px;
}

.subjectTableRightArrow img { 
    display: block;
    height: 20px;
    cursor: pointer;
}

.subjectTableRightText { 
    text-align: left;
}

.subjectTableLeftArrow img { 
    display: block;
    height: 20px;
    float: right;
    cursor: pointer;
}

.commentParagraph {      
    position: relative;
    width: 735px;
    padding: 10px 15px 20px 15px;
    font: 14px Helvetica, Sans-Serif;   
}

.commentParagraphDiscard {      
    position: relative;
    width: 735px;
    padding: 10px 15px 20px 15px;
    font: 14px Helvetica, Sans-Serif;   
    background-color: #cccccc;
}

.commentParagraphUndefined {      
    position: relative;
    width: 735px;
    padding: 10px 15px 20px 15px;
    font: 14px Helvetica, Sans-Serif;   
    background-color: #F3D673;
}

.commentInformation {      
    width: 100%;
    padding: 5px;
}

.commentText {      
    width: 100%;    
    padding: 5px;
    word-wrap: break-word;
    color: #666666;
}

.commentChangeFormDiv { 
    width: 100%;
    padding: 5px;
}

.commentChangeFormDiv textarea { 
    height: 150px; 
    width: 722px;
    border: 1px solid #666666;
    overflow-x: auto;
    overflow-y: scroll;
    font: 14px Helvetica, Sans-Serif;
    font-family: monospace;
}

.addCommentDiv {  
    position: relative;
    width: 100%; 
    height: 240px;
    padding-top: 15px;
    padding-left: 14px;
}

.addCommentDiv textarea { 
    height: 150px; 
    width: 722px;
    border: 1px solid #666666;
    overflow-x: auto;
    overflow-y: scroll;
    font: 14px Helvetica, Sans-Serif;
    font-family: monospace;
}

.commentSubmit {
    position: absolute;
    top: 200px;
    left: 535px;
    width: 100px;    
    display: block;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
}

.commentChangeButton {
    position: absolute;
    top: 10px;
    left: 680px;
    width: 50px;    
    display: block;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 1px;
    font-size: 8pt;
}

.commentButton2 {
    position: absolute;
    top: 10px;
    left: 615px;
    width: 50px;    
    display: block;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 1px;
    font-size: 8pt;
}

.commentButton1 {
    position: absolute;
    top: 10px;
    left: 550px;
    width: 50px;    
    display: block;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 1px;
    font-size: 8pt;
}

.commentSubmitButton {
    position: absolute;
    top: 10px;
    left: 615px;
    width: 50px;    
    display: block;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 1px;
    font-size: 8pt;
}

.commentDiscardButton {
    position: absolute;
    top: 10px;
    left: 680px;
    width: 50px;    
    display: block;
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 1px;
    font-size: 8pt;
}

.subjectRenameButtonDiv {
    position: absolute;
    top: 91px;
    left: 328px;
    display: block;
    width: 100px;    
    background-color: #cccccc; 
    cursor: pointer;
    text-align: center;
    border: 1px solid #666666;
    padding: 3px;
}

.greyText {
    background-color: #cccccc;
}

.yellowText {
    background-color: #F3D673;
}